.NavigationLinks {
  display: flex;
  margin: 0 auto;
  max-width: 500px;
  user-select: none;
}

.text {
  text-transform: capitalize;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  width: fit-content;
}

.text:before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  border-top: 1px solid var(--black);
  width: 0;
  opacity: 0;
  transition: width 0.3s ease-out, opacity 0.3s ease-out;
}

.text_active:before {
  width: 100%;
  opacity: 1;
}

.link {
  text-decoration: none;
  color: #1D201F;
}
