.ExperienceBlock {
  width: 100%;
  min-height: 400px;
  padding-bottom: 64px;
}

.ExperienceBlock__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ExperienceBlock__textWrapper {
  width: 100%;
  padding: 8px;
}

.ExperienceBlock__textWrapper h2 {
  font-size: 40px;
}

.ExperienceBlock__imageWrapper {
  width: 100%;
}

@media (min-width: 720px) {
  .ExperienceBlock {
    height: 500px;
  }

  .ExperienceBlock__block {
    flex-direction: row;
    justify-content: space-between;
  }

  .ExperienceBlock__block_reverse {
    flex-direction: row-reverse;
  }

  .ExperienceBlock__imageWrapper {
    width: 50%;
    margin: 0 auto;
  }

  .ExperienceBlock__textWrapper {
    width: 50%;
  }
}
